<app-loading [show]="loading || agregando"></app-loading>
<div *ngIf="error" class="error">{{ error }}</div>
<div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select [value]="filtroRol" (selectionChange)="setFiltroRol($event.value)">
      <mat-option value="">Todos</mat-option>
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="User">User</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Buscar por nombre o apellido"
           [value]="filtroBusqueda"
            (input)="onFiltroBusquedaInput($event)">
  </mat-form-field>
</div>

<table mat-table [dataSource]="usuariosFiltrados">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let u">{{u.nombre}}</td>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let u">{{u.apellido}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let u">{{u.email}}</td>
  </ng-container>
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let u">{{u.rol}}</td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let u">
       <button mat-button color="primary" (click)="editarUsuario(u)">Editar</button>
      <button mat-button color="warn" (click)="borrar(u.id)">Eliminar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['nombre', 'apellido', 'email', 'rol', 'acciones']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['nombre', 'apellido', 'email', 'rol', 'acciones'];"></tr>
</table>

<div *ngIf="totalPaginas > 1">
  <button (click)="setPagina(paginaActual - 1)" [disabled]="paginaActual <= 1">
    Anterior
  </button>
  Página {{ paginaActual }} de {{ totalPaginas }}
  <button (click)="setPagina(paginaActual + 1)" [disabled]="paginaActual >= totalPaginas">
    Siguiente
  </button>
</div>

<app-usuario-form 
  [usuarioEdit]="usuarioEdit" 
  (limpiarEdit)="limpiarForm()" 
  [usuarios]="usuarios"    
  (usuarioAgregado)="cargarUsuarios()"
  (usuarioActualizado)="onUsuarioActualizado()"
  (agregandoUsuario)="onAgregandoUsuario($event)">
</app-usuario-form>
